<%- include('partials/header') -%>
    <p class='welcome-p'>Welcome to <%= title %></p>
    <div class='article-home-grid'>
        <div class='article-home-elem'>

            <i class="fas fa-book-open"></i>
            <a class='nav-link' href='/articles/list'><h3>All Articles</h3></a>
        </div>
        <div class='article-home-elem'>
            <i class="fas fa-pen"></i>
            <a class='nav-link' href='/articles/new'> <h3>Publish Article</h3></a>
        </div>
        <div class='article-home-elem'>
            <i class="fab fa-slack-hash"></i>
            <a class='nav-link' href='/tags'> <h3>View By Tags</h3></a>
        </div>
        <div class='article-home-elem'>
            <i class="fas fa-user-edit"></i>
            <a class='nav-link' href='/articles/self'><h3>My Articles</h3></a>
        </div>
        <div class='article-home-elem'>
            <i class="fas fa-heart"></i>
            <a class='nav-link' href='/articles/liked'><h3>Liked Articles</h3></a>
        </div>
        <div class='article-home-elem'>
            <i class="fas fa-fire"></i>
            <a class='nav-link' href='/articles/popular'><h3>Popular Articles</h3></a>
        </div>
    </div>
    
<%- include('partials/footer') -%>
